@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/Lato-Light.eot');
	src: local('☺'), url('../fonts/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light.ttf') format('truetype'), url('../fonts/Lato-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Black';
	src: url('../fonts/Lato-Black.eot');
	src: local('☺'), url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black.ttf') format('truetype'), url('../fonts/Lato-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Lato-LightItalic';
	src: url('../fonts/Lato-LightItalic.eot');
	src: local('☺'), url('../fonts/Lato-LightItalic.woff') format('woff'), url('../fonts/Lato-LightItalic.ttf') format('truetype'), url('../fonts/Lato-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Franchise-Bold';
	src: url('../fonts/Franchise-Bold.eot');
	src: local('☺'), url('../fonts/Franchise-Bold.woff') format('woff'), url('../fonts/Franchise-Bold.ttf') format('truetype'), url('../fonts/Franchise-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





