@media only screen and (max-width:991px) {
    nav {
        padding: 2rem 0 !important;

        .navbar-nav {
            text-align: center;

            li {
                &:hover {
                    background-color: transparent !important;
                }

                &:hover a {
                    color: #70767d !important;
                }

                a {
                    padding: 0 !important;
                }

            }
        }
    }

    #accordion {
        .card {
            .card-body {
                .accordion-right {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    display: flex;
                    margin-top: 4rem;
                    p {
                        text-align: center;
                    }
                }

                .embed-container {
                    max-width: 100%;
                }
            }
        }
    }

    .contact-us {
        .checkbox {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
        }
    }
}


@media only screen and (max-width:599px) {
    .owl-carousel {
        .item {
            p {
                width: 90%;
            }

            h4 {
                width: 90%;
            }
        }
    }
 }